_ReSharper.CERP/
*.suo
CERP.Core/bin/
CERP.Core/obj/
CERP.Modules.Security/bin/
CERP.Modules.Security/obj/
CERP.Modules.Security.Tests/bin/
CERP.Modules.Security.Tests/obj/
CERP.Modules.Models/bin/
CERP.Modules.Models/obj/
CERP.Main/bin/
CERP.Main/obj/
CERP.sln.DotSettings.user
*.onetoc2
CERP.Modules.DataManagement.Tests/bin/
CERP.Modules.DataManagement.Tests/obj/
CERP.Modules.DataManagement/bin/
CERP.Modules.DataManagement/obj/
TestResults/
CERP.Modules.Procurement.Tests/bin/
CERP.Modules.Procurement.Tests/obj/
CERP.Modules.Procurement/bin/
CERP.Modules.Procurement/obj/
Apex.Common/_ReSharper.Apex.Common/
Apex.Common/bin/
Apex.Common/obj/
CERP.Modules.HumanResources/obj/
CERP.Modules.HumanResources/bin/
CERP.Modules.HumanResources.Controls/bin/
CERP.Modules.HumanResources.Controls/obj/
CERP.Modules.HumanResources.Tests/obj/
CERP.Modules.HumanResources.Tests/bin/
CERP.Start/bin/
CERP.Start/obj/
*.licx
CERP.Modules.HumanResources.EmailConsole/obj/
CERP.Modules.HumanResources.EmailConsole/bin/
