_ReSharper.CERP/
*.suo
CERP.Core/bin/
CERP.Core/obj/
CERP.Modules.Security/bin/
CERP.Modules.Security/obj/
CERP.Modules.Security.Tests/bin/
CERP.Modules.Security.Tests/obj/
CERP.Modules.Models/bin/
CERP.Modules.Models/obj/
CERP.Main/bin/
CERP.Main/obj/
CERP.sln.DotSettings.user
*.onetoc2
CERP.Modules.DataManagement.Tests/bin/
CERP.Modules.DataManagement.Tests/obj/
CERP.Modules.DataManagement/bin/
CERP.Modules.DataManagement/obj/
TestResults/
CERP.Modules.Procurement.Tests/bin/
CERP.Modules.Procurement.Tests/obj/
CERP.Modules.Procurement/bin/
CERP.Modules.Procurement/obj/
